[Unit]
#Documentation https://www.freedesktop.org/software/systemd/man/systemd.service.html

Description=Shelf.Pi.App
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/shelf.pi.app/
ExecStart=/home/pi/shelf.pi.app/Shelf.Pi.App

StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target